/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

img {
    width: 40%;
    height: auto;


}
html {
    font-family: "Roboto", sans-serif;
    background-color: rgb(93, 0, 93);
    padding: 30px;
}

ul {
    list-style-type: none;
  }

.nav_1{
    display: flex;
    justify-content: space-between;
}

.nav_1 img{
    width: 40%;
    height: auto;

}

.email{
    display: flex;
    flex-direction: column;
}

.email button{
    border-radius: 10px;
    width: 650px;
    height: 75px;  
    margin-bottom: 10px;
    text-align: center;
    color: rgb(93, 0, 93);
    text-transform:uppercase;
    font-weight: bolder;
    justify-content: center;
}

.email_2{
    width: 40%;
    height: auto;
    display: flex;
    background-color: cornflowerblue;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    align-items: center;   
}

.email_2 img{
    width: 8%;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    text-align: center;
}

h1 {
    font-size: 70px;
    color: white;
}

.free_p {
    font-size: 30px;
    color:white;
}

.free {
    color: rgb(255, 217, 0);
    font-weight: bold;
}

.companies, .team, .work, .tools, .large_small {
    background-color: beige;
}

.companies_p {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;

}

.companies_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 25px;
}

.companies_list img {
    width: 140px;
    height: auto;
}

.large_small, footer {
    background-color: white;
}

.large_small {
    font-size: 30px;
    text-align: center;

}

.HQ {
    font-size: 30px;
    text-align: center;
    color: white;
}

aside .try_free{
    border-radius: 10px;
    width: 650px;
    height: 75px;  
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(93, 0, 93);
    color: white;
    text-transform:uppercase;
    font-weight: bolder;
    justify-content: center;
}

aside .sales {
    border-radius: 10px;
    width: 650px;
    height: 75px;  
    margin-bottom: 10px;
    text-align: center;
    color: rgb(93, 0, 93);
    text-transform:uppercase;
    font-weight: bolder;
    justify-content: center;

}

/* Tablet version */
@media (max-width: 767px) {
    header {
        text-align: center;
      }
    .list_top {
        display: none;
    }

    aside {
        display: flex;
        flex-direction: column-reverse;
    }



}

/* Phone version */
@media (min-width: 768px) and (max-width: 1023px) {
    .list_top {
        display: none;
    }

    .img_slack {
        width: 25%;
        height: 25%;
        padding: 5px;
    }

    aside {
        display: flex;
        flex-direction: column;
    }


}

/* Computer version */
@media (min-width: 1024px) and (max-width: 1439px) {
    aside {
        display: flex;
        flex-direction: row;
    }


}

/* TV version */
@media (min-width: 1440px) {
    aside {
        display: flex;
        flex-direction: row;
    }

}